<h3 class="table-title">Angular Table Component</h3>
<div class="container">
   <mat-table #table [dataSource]="dataSource">
     <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.company}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_entry">
      <mat-header-cell *matHeaderCellDef>Entry Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date_entry}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="org_num">
      <mat-header-cell *matHeaderCellDef>Organization Num.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.org_num}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address_1">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address_1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="zip">
      <mat-header-cell *matHeaderCellDef>ZIP</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.zip}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="geo">
      <mat-header-cell *matHeaderCellDef>GEO</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.geo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pan">
      <mat-header-cell *matHeaderCellDef>PAN</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pan}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pin">
      <mat-header-cell *matHeaderCellDef>PIN</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pin}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fee">
      <mat-header-cell *matHeaderCellDef>Fee</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fee}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="guid">
      <mat-header-cell *matHeaderCellDef>GUID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.guid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_exit">
      <mat-header-cell *matHeaderCellDef>Exit Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date_exit}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_first">
      <mat-header-cell *matHeaderCellDef>First Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date_first}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_recent">
      <mat-header-cell *matHeaderCellDef>Recent Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date_recent}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef>URL</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.url}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "rowClicked(row)" ></mat-row>
  </mat-table>
 </div>
<mat-paginator [length]="10" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]">
  </mat-paginator>