.container{            
  width:1200px;
  height:550px;
  overflow-x:auto;
  overflow-y:auto;
}
.table-title{
    position: sticky;
    top: 0;
    background: white;
    z-index: 9999;
  }

.mat-header-row {
    position: sticky;
    top: 0;
    background: white;
    z-index: 9999;
  }

  .mat-paginator{
    float: left;
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 9999;
    color:black;
  }
  .mat-table {
    display: table;
    width: 100%;
    > .mat-header-row, > .mat-row {
      display: table-row;
  
      > .mat-header-cell, > .mat-cell {
        display: table-cell;      
      }
    }
  }
  .mat-header-cell{
    background-color:gray;
    color: black;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
  }
  
  .mat-cell{
    padding: 10px;
    font-size: 12px; 
    width:280px; 
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
  }
